<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Usuario</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
    <link rel="stylesheet" href="../../../estiloGeneral.css">
    <link rel="stylesheet" href="estilosUsuario.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.all.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-dark sinFondo">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img src="../../../images/logoAlexa.jpg" alt="Bootstrap" width="150" height="auto">
            </a>

            <div class="collapse navbar-collapse position-absolute end-0 me-5" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item px-3">
                        <a class="nav-link textoNav" aria-current="page"
                            href="../subVentas/carritoCompras.html">Tienda</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link textoNav" href="../subAgendamiento/AgendamientoUsuario.html">Citas</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle textoNav" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa fa-user fa-1x"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item textoNav" href="#">Usuario</a></li>

                            <hr class="dropdown-divider">
                            <li>
                                <a class="nav-link textoNav" aria-current="page" href="../index.html">Cerrar Sesión</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <h1 class="text-center">¡Bienvenido Fede!</h1>
            </div>
            <div class="col-3"></div>
        </div> <!--Fin Row-->
        <br><br>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="row bordeVino p-3">
                    <div class="table-responsive ">
                        <table class=" table textoNav ">

                            <tr class="text-center">
                                <th class="" style="width: 40%;" scope="row">Nombre:</th>
                                <td class="" style="width: 60%;">Fede Federico Fernandez Fabio</td>
                            </tr>
                            <tr class="text-center">
                                <th class="" style="width: 40%;" scope="row">Correo:</th>
                                <td class="" style="width: 60%;">feeed@gmail.com</td>
                            </tr>
                            <tr class="text-center">
                                <th class="" style="width: 40%;" scope="row">Cédula:</th>
                                <td class="" style="width: 60%;">102354128</td>
                            </tr>
                            <tr class="text-center">
                                <th class="" style="width: 40%;" scope="row">Teléfono:</th>
                                <td class="" style="width: 60%;">3012541748</td>
                            </tr>
                            <tr class="text-center">
                                <th class="" style="width: 40%;" scope="row">Instagram:</th>
                                <td class="" style="width: 60%;">@fedexArrecho</td>
                            </tr>

                        </table>

                    </div>
                    <div class="row ">
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button type="button" class="btn fondoVino text-light btn-lg" data-bs-toggle="modal"
                                data-bs-target="#editarInfo">Editar Info</button>
                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button type="button" class="btn fondoVino text-light btn-lg" data-bs-toggle="modal"
                                data-bs-target="#editarContraseña">Cambiar Contraseña</button>
                        </div>
                    </div>

                </div><!--Fin Row-->
                <br>
                <div class="row">

                    <div class="col mx-auto p-0 me-1  ">
                        <a href="../subAgendamiento/AgendamientoUsuario.html" class="noDecorado ">
                            <div class="text-center card bordeOro mb-3 encogerse" style="min-width: auto;">
                                <div class="card-header fs-5 ">Crear Cita</div>
                                <div class="card-body fondoOro">
                                    <i class="fa fa-calendar-plus fa-5x"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col mx-auto p-0 me-1  ">
                        <a href="../subVentas/carritoCompras.html" class="noDecorado ">
                            <div class="text-center card bordeOro mb-3 encogerse" style="min-width: auto;">
                                <div class="card-header fs-5 ">Crear Cotización</div>
                                <div class="card-body fondoOro">
                                    <i class="fa fa-receipt fa-5x"></i>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div><!--Fin Row-->


        <br><br>
    </div> <!--Fin Container-->


    <!--Ventanas modal-->

    <!-- Modal Editar Info-->
    <div class="modal fade" id="editarInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Información</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formulario">
                        <div class="mb-3 row">
                            <label class="fs-5 col-3 col-form-label">Nombre:</label>
                            <div class="col-9">
                                <input type="text" class=" fs-5 form-control" name="nombre"
                                    value="Fede Federico Fernandez Fabio" id="nombre" placeholder="Nombre" required>
                            </div>
                        </div><!--Fin Row-->
                        <div class="mb-3 row">
                            <label class="fs-5 col-3 col-form-label">Correo:</label>
                            <div class="col-9">
                                <input type="email" class=" fs-5 form-control" name="correo" value="feeed@gmail.com"
                                    id="correo" placeholder="Correo" required>
                            </div>
                        </div><!--Fin Row-->
                        <div class="mb-3 row">
                            <label class="fs-5 col-3 col-form-label">Cédula:</label>
                            <div class="col-9">
                                <input type="number" class=" fs-5 form-control" name="cedula" value="102354128"
                                    id="cedula" placeholder="Cédula" disabled>
                            </div>
                        </div><!--Fin Row-->
                        <div class="mb-3 row">
                            <label class="fs-5 col-3 col-form-label">Teléfono:</label>
                            <div class="col-9">
                                <input type="number" class=" fs-5 form-control" name="telefono" id="telefono"
                                    value="3012541748" placeholder="Teléfono" required>
                            </div>
                        </div><!--Fin Row-->
                        <div class="mb-3 row">
                            <label class="fs-5 col-3 col-form-label">Instagram:</label>
                            <div class="col-9">
                                <input type="text" class=" fs-5 form-control" name="instagram" value="@fedexArrecho"
                                    id="instagram" placeholder="Instagram (Opcional)">
                            </div>
                        </div><!--Fin Row-->


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" id="enviarEditar" class="btn fondoVino text-light">Guardar cambios</button>
                </div>
                </form><!--Fin Form-->
            </div>
        </div>
    </div>


    <!-- Modal Cambiar Contraseña -->
    <div class="modal fade" id="editarContraseña" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cambiar Contraseña</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="cambiarContrasena">
                        <div class="mb-3 row">
                            <label class="fs-5 col-3 col-form-label">Contraseña Actual:</label>
                            <div class="col-9 align-items-center justify-content-center d-flex">
                                <input type="password" class=" fs-5 form-control" name="contrasenaActual"
                                    id="contrasenaActual" placeholder="Pon tu contraseña actual!">
                            </div>
                        </div><!--Fin Row-->
                        <div class="mb-3 row">
                            <label class="fs-5 col-3 col-form-label">Nueva Contraseña:</label>
                            <div class="col-9 align-items-center justify-content-center d-flex">
                                <input type="password" class=" fs-5 form-control" name="contrasenaNueva"
                                    id="contrasenaNueva" placeholder="Pon tu nueva contraseña!">
                            </div>
                        </div><!--Fin Row-->
                        <div class="mb-3 row">
                            <label class="fs-5 col-3 col-form-label">Confirmar Contraseña:</label>
                            <div class="col-9 align-items-center justify-content-center d-flex">
                                <input type="password" class=" fs-5 form-control" name="confirmarContrasena"
                                    id="confirmarContrasena" placeholder="Confirma tu contraseña!">
                            </div>
                        </div><!--Fin Row-->



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn fondoVino text-light" id="enviarContrasena">Guardar
                        cambios</button>
                </div>
                </form><!--Fin Form-->
            </div>
        </div>
    </div>


    <!--     <footer class="text-center mt-5" style="background-color: #D8B468;">
        <div class="text-center p-3">
            © 2023 Copyright: Alexandra Torres
        </div>
    </footer> -->

    <script>
        /*Validar formulario editar*/
        //Enviar Formulario
        document.getElementById("enviarEditar").addEventListener("click", async (e) => {
            e.preventDefault();
            let nombre = document.getElementById("nombre").value;
            let correo = document.getElementById("correo").value;
            let telefono = document.getElementById("telefono").value;
            if (nombre && correo && telefono) {
                await cambiosRealizados()
            } else {
                await Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: "Revisa que los campos no esten vacios"
                })
            }
        })
        //Salir input nombre
        document.getElementById("nombre").addEventListener("focusout", (e) => {
            e.preventDefault();
            let nombre = document.getElementById("nombre").value;
            if (nombre == "") {
                campoVacio("nombre")
            }
        })
        //Salir input correo
        document.getElementById("correo").addEventListener("focusout", (e) => {
            e.preventDefault();
            let correo = document.getElementById("correo").value;
            if (correo == "") {
                campoVacio("correo")
            }
        })
        //Salir input telefono
        document.getElementById("telefono").addEventListener("focusout", (e) => {
            e.preventDefault();
            let telefono = document.getElementById("telefono").value;
            if (telefono == "") {
                campoVacio("telefono")
            }
        })

        /*FIN Validar formulario editar*/

        /*Validar formulario contraseña*/
        //Enviar Formulario
        document.getElementById("enviarContrasena").addEventListener("click", async (e) => {
            e.preventDefault();
            let contrasenaActual = document.getElementById("contrasenaActual").value;
            let contrasenaNueva = document.getElementById("contrasenaNueva").value;
            let confirmarContrasena = document.getElementById("confirmarContrasena").value;
            if (contrasenaActual && contrasenaNueva && confirmarContrasena) {
                if (contrasenaNueva != confirmarContrasena) {
                    await Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: "El confirmar contraseña no coincide"
                    })
                } else {
                    await cambiarContrasena()
                }
            } else {
                await Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: "Revisa que los campos no esten vacios"
                })
            }
        })
        //Salir input contrasenaActual
        document.getElementById("contrasenaActual").addEventListener("focusout", (e) => {
            e.preventDefault();
            let contrasenaActual = document.getElementById("contrasenaActual").value;
            if (contrasenaActual == "") {
                campoVacio("contrasenaActual")
            }
        })
        //Salir input contrasenaNueva
        document.getElementById("contrasenaNueva").addEventListener("focusout", (e) => {
            e.preventDefault();
            let contrasenaNueva = document.getElementById("contrasenaNueva").value;
            if (contrasenaNueva == "") {
                campoVacio("contrasenaNueva")
            }
        })
        //Salir input confirmarContrasena
        document.getElementById("confirmarContrasena").addEventListener("focusout", (e) => {
            e.preventDefault();
            let confirmarContrasena = document.getElementById("confirmarContrasena").value;
            if (confirmarContrasena == "") {
                campoVacio("confirmarContrasena")
            }
        })

        /*FIN Validar formulario contraseña*/

        //Alerta campo vacio
        function campoVacio(campo) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'El campo ' + campo + " no puede estar vacio"
            })
        }

        //Funcion volver
        function volver() {
            window.history.back();
        }

        //Alerta confirmar cambios
        function cambiosRealizados() {
            Swal.fire({
                title: '¿Quiéres guardar los cambios?',
                showCancelButton: true,
                confirmButtonText: 'Si',
                cancelButtonText: "No"
            }).then(async (result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    await Swal.fire('¡Guardados!', '', 'success')
                    await document.getElementById('formulario').submit();
                } else if (result.isDenied) {
                    Swal.fire('Los cambios no se guardaron', '', 'info')
                }
            })
        }
        function cambiarContrasena() {
            Swal.fire({
                title: '¿Estas seguro de que quieres cambiar la contraseña?',
                showCancelButton: true,
                confirmButtonText: 'Si',
                cancelButtonText: "No"
            }).then(async (result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    await Swal.fire('¡Contraseña Cambiada!', '', 'success')
                    await document.getElementById('cambiarContrasena').submit();
                } else if (result.isDenied) {
                    Swal.fire('La contraseña no se guardo', '', 'info')
                }
            })
        }
        function cerrarSesion() {
            Swal.fire({
                title: '¿Estas seguro de que quieres cerrar sesión?',
                showCancelButton: true,
                confirmButtonText: 'Cerrar Sesión',
                cancelButtonText: "Cancelar"
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    window.location.href = "../index.html"
                } else if (result.isDenied) {
                    Swal.fire('La contraseña no se guardo', '', 'info')
                }
            })
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>