body .sinFondo{
    background-color: white !important;
}
body .textoNav{
    font-size: 1.4em !important;
}

/*Para cambiar el cursor*/
.clickeable {
    cursor: pointer;
}

/*Colores generales*/

/*Borde vinotinto*/
body .bordeVino{
    border: #73293D solid 3px !important;
    border-radius: 10px !important;
}

/*Fondo vinotinto*/
body .fondoVino{
    background-color: #73293D !important;
}