body .sinFondo{
    background-color: white !important;
}
body nav .textoNav{
    font-size: 1.4em !important;
}

/*Para cambiar el cursor*/
.clickeable {
    cursor: pointer;
}

/*Colores generales*/

/*Borde vinotinto*/
body .bordeVino{
    border: #73293D solid 3px;
}