<!doctype html>
<html lang="en">
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Carrito de Compras</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../estiloGeneral.css">
    <link rel="stylesheet" href="estilosUsuario.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.all.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-dark sinFondo">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img src="../../../images/logoAlexa.jpg" alt="Bootstrap" width="150" height="auto">
            </a>

            <div class="collapse navbar-collapse position-absolute end-0 me-5" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item px-3">
                        <a class="nav-link textoNav" aria-current="page"
                            href="../subUsuario/informacionUsuario.html">Cuenta</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link textoNav" aria-current="page" href="#">Tienda</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link textoNav" href="#">Citas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br>
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col-sm-5 col-md-6">
                <img src="../../../images/image1.jpeg" class="img-thumbnail padding" alt="...">
            </div>
            <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                <img src="../../../images/image2.png" class="img-thumbnail box-shadow" alt="...">
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col-sm-6 col-md-5 col-lg-6">
                <img src="../../../images/image3.png" class="img-thumbnail box-shadow" alt="...">
            </div>
            <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                <img src="../../../images/image4.jpg" class="img-thumbnail box-shadow" alt="...">
            </div>
        </div>
    </div> <!--Fin Container-->

    <footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
        <!-- Grid container -->
        <div class="container p-4"></div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3">
            © 2023 Copyright: Alexandra Torres
        </div>
        <!-- Copyright -->
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>